
.navbar-custom {
    font-family: 'Strange'; 
    font-size: 24px;
    background-color: #2a8cee !important;
    color: white !important;
    width: 100%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    margin-bottom: 20px; 
}

.brand-custom {
    font-family: 'Strange'; 
    font-size: 24px;
    color: white !important;
}

@media (max-width: 600px) {
    .navbar-custom {
        font-size: 20px; 
    }
    .brand-custom {
        font-size: 18px;
    }
}